services:
  skypiea-gateway:
    container_name: skypiea-gateway
    build:
      context: .
      args:
        target: runtime
    image: ghcr.io/itsreiji/litellm:latest
    #########################################
    ## Uncomment these lines to start proxy with a config.yaml file ##
    volumes:
     - ./proxy_server_config.yaml:/app/proxy_server_config.yaml
    command:
     - "--config=/app/proxy_server_config.yaml"
    ##############################################

    environment:
      - LITELLM_MASTER_KEY=${LITELLM_MASTER_KEY}
      - LITELLM_SALT_KEY=${LITELLM_SALT_KEY}
      - DATABASE_URL=${DATABASE_URL}
      - STORE_MODEL_IN_DB=${STORE_MODEL_IN_DB}
      - UI_USERNAME=${UI_USERNAME}
      - UI_PASSWORD=${UI_PASSWORD}
    retries: 3     # Retry up to 3 times if health check fails
    start_period: 40s  # Wait 40 seconds after container start before beginning health checks

  db:
    image: postgres:18
    restart: always
    container_name: litellm_db
    environment:
      POSTGRES_DB: litellm
      POSTGRES_USER: llmproxy
      POSTGRES_PASSWORD: dbpassword9090
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persists Postgres data across container restarts
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d litellm -U llmproxy"]
      interval: 1s
      timeout: 5s
      retries: 10

  prometheus:
    container_name: prometheus
    driver: local
  postgres_data:
    name: litellm_postgres_data # Named volume for Postgres data persistence
